/* MindCourager - Home Page
....................................................................................*/

body {
	font-family: Helvetica, Arial, sans-serif;
}

.hompage_container {
	margin-top: 5%;
}

/* Banner
...............................................................................*/
.pannel {
	position: relative;
	margin-bottom: 30px;
	background-color: rgba(255,165,0, 0.7);
}

.panel-banner {
	position: relative;
	background-color: #4267b2;
	height: 80px;
}
.banner_heading {
	font-size: 1.2em;
	font-weight: 700;
	color: white;
	margin: 0;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.post_list {
	float: left;
	display: none;
	list-style: none;
	color: #4267b2;
}
.post_list h2 {
	margin: 0;
}
.post_list li {
	padding-bottom: 10px;
}
.post_list a {
	color: #4267b2;
	font-size: 1.2em;
	padding-bottom: 8px;
}

/* Page Content
....................................................................*/

.article-box {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}
.article-heading {
	margin-top: -2px;
	font-size: 1.5em;
}

.article_img {
	width: 40%;
	padding-right: 20px;
}

.article_paragraph {
	font-size: 1em;
}

.read_more_articles {
	background-color: orange;
	border-color: orange;
}
.read_more_articles:hover {
	background: #4267b2;
	border-color: orange;
}



@media screen and (min-width: 480px) { 

.pannel {
		width: 100%;
	}
.banner {
		width: 80%;
	}
.panel-banner {
		width: 80%;
	}


.article-heading {
	font-size: 1.8em;
}
.article_img {
	width: 35%;
	}
	.article_paragraph {
	font-size: 1.2em;
}
}

@media screen and (min-width: 550px) {





}

@media screen and (min-width: 768px) { 
.hompage_container {
	margin-top: 16%;
}

.banner {
		width: 45%;
	}
.panel-banner {
		width: 45%;
		height: 80px;
	}

.post_list {
	display: initial;
position: absolute;
top: 15%;
right: 10%;
width: 40%;
   }
   .post_list h2 {
	margin-bottom: 20px;
}
.post_list li {
	line-height: 1.1;
	padding-bottom: 20px;
	font-weight: 530;
}

.article-heading {
	font-size: 2em;
}
.article_img {
	width: 40%;
	}
.article_paragraph {
	font-size: 1.2em;
}
}

@media screen and (min-width: 920px) {
	.banner {
		width: 40%;
	}
.panel-banner {
		width: 40%;
		height: 80px;
	}

	.post_list {
		top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
	}

	.article-heading {
	font-size: 1.6em;
}
.article_img {
	width: 35%;
	}
} 

@media screen and (min-width: 992px) { 
.hompage_container {
	margin-top: 16%;
	}

	.banner {
		width: 35%;
	}
.panel-banner {
		width: 35%;
		height: 80px;
	}
	.article-heading {
	font-size: 1.6em;
}
}

@media screen and (min-width: 1200px) { 
	.hompage_container {
	margin-top: 8%;
}

.banner {
		width: 30%;
	}
.panel-banner {
		width: 30%;
		height: 80px;
	}
.article_paragraph {
	font-size: 1.6em;
}
}




