/* MindCourager - Navigation
....................................................................................*/

header {
	padding: 1em 0;
	position: relative;
	background-color: white;
	height: 7em;
}

header::after {
	content: '';
	clear: both;
	display: block;
}

.container_for_navigation {
	width: 95%;
	/*max-width: 1900px;*/
	margin: 0 auto;
}

.logo {
	color: orange;
	float: left;
	font-size: 2.9rem;
	margin: 0;
	font-weight: 1000;
}

.logo span {
	font-weight: 1000;
	color: #4267b2;
	font-style: italic;
}
.like_us {
width: 100px;
display: inline-block;
	position: absolute;
	top: 72%;
	left: 60px;
	transform: translate(-50%, -50%);
	
	color: #4267b2;
	font-size: 0.9em;
	font-weight: 1000;
	border: 2px solid #4267b2;
	padding: 3px;
	text-align: center;
}


/*.........Navigation................................*/

.site-nav {
	width: 100%;
	position: absolute;
	background: white;
	top: 100%;
	right: 0%;
	height: 0px;
	overflow: hidden;
	z-index: 1999
}
.site-nav--open {
height: auto;
}
.site-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-nav ul li {
	border-top: 1px solid #4267b2;
	border-right: 1px solid #4267b2;
	border-bottom: 1px solid #4267b2;
	border-left: 1px solid #4267b2;
}
.site-nav a {
	display: block;
text-decoration: none;
color: black;
padding: 1em 3em;
}
.site-nav a:hover,
.site-nav a:focus {
	background: #4267b2;
	opacity: 0.5;
}
/*............Icons...........................*/

.header--icon {
    display: inline-block;
	font-size: 1.2em;
	margin-right: 0.2em;
	width: 1.3em;
	text-align: right;
	color: #4267b2;
}
.site-nav--icon {
	display: inline-block;
	font-size: 1.5em;
	margin-right: 1em;
	width: 1.1em;
	text-align: right;
	color: #8C8C8C;
}

/*......... Menu-toggle & Hamburger img ........*/
.menu-toggle {
	padding: 1em;
	position: absolute;
	right: 1em;
	top: 1.3em;
	cursor: pointer;
}
.hamburger, .hamburger::before, .hamburger::after {
	content: '';
	display: block;
	background: #4267b2;
	height: 3px;
	width: 1.5em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;
}
.hamburger::before {
	transform: translateY(-6px);
}
.hamburger::after {
	transform: translateY(3px);
}
.open .hamburger {
	transform: rotate(45deg);
}
.open .hamburger::before {
	opacity: 0;
}
.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
}

/*.........Media Queries: Portrait......................*/
@media screen and (min-width: 560px) and (orientation: portrait) {

header {
height: 7em;
}

.like_us {
top: 72%;
left: 65px;
width: 100px;
}
}


@media screen and (min-width: 768px) and (orientation: portrait) {
	header {
		height: 7em;
		border-bottom: 1px solid #4267b2;
	}
	.logo {
font-size: 4rem;
padding: 0.5em;
}
.like_us {
font-size: 1.2em;
top: 62%;
left: 85%;
width: 150px;
}

	.menu-toggle {
		display: none;
	}
	.site-nav {
		height: auto;
		position: relative;
		float: right;
	}
	.site-nav ul li {
		width: 19.5%;
		display: inline-block;
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: none;
	}
	.site-nav ul li:hover {
	border-bottom: 1px solid #4267b2;
	border-top: 1px solid #4267b2;
}
	.site-nav a {
		padding: 1.5em 0em;
		text-align: center;
	}
.site-nav a:hover,
.site-nav a:focus {
	background: transparent;
	
}
.site-nav--icon {
	display: none;
	}
}


/*.........Media Queries: Landscape......................*/


@media screen and (min-width: 560px) and (orientation: landscape) {

header {
height: 7em;
}

.like_us {
top: 72%;
left: 65px;
width: 100px;
}
}


@media screen and (min-width: 800px) and (orientation: landscape) {

header {
		height: 7em;
		border-bottom: 1px solid #4267b2;
	}
	.logo {
font-size: 4rem;
padding: 0.5em;
}
.like_us {
font-size: 1.2em;
top: 62%;
left: 85%;
width: 150px;
}

.menu-toggle {
		display: none;
	}
	.site-nav {
		margin-top: 20px;
		height: auto;
		position: relative;
		float: right;
	}
	.site-nav ul li {
		width: 19.5%;
		display: inline-block;
		border-top: none;
		border-right: none;
		border-bottom: none;
		border-left: none;
	}
	.site-nav ul li:hover {
	border-bottom: 1px solid #4267b2;
	border-top: 1px solid #4267b2;
}
	.site-nav a {
		padding: 1.5em 0em;
		text-align: center;
	}
.site-nav a:hover,
.site-nav a:focus {
	background: transparent;
	
}
.site-nav--icon {
	display: none;
	}
}

@media screen and (min-width: 924px) and (orientation: landscape) {

header { 
background: white;
}
.like_us {
left: 90%;
}

nav li a {
	font-size: 1.5em;
}
}

