/* Footer ..............................................................................
....................................................................................*/


.footer_box {
	background: rgba(66, 103, 178, 0.3);
	padding: 0;
}

.logo_box_footer {
	border-bottom: 1px solid #4267b2;
	border-top: 1px solid #4267b2;
}
.logo_for_footer {
	color: orange;
   text-align: center;
   text-decoration: none;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    font-weight: 1000;
}
 .logo_for_footer a {
	text-decoration: none;
}

#courager_footer {
	font-weight: 1000;
    color: #4267b2;
    font-style: italic;
}

.footer_top, .footer_middle, .footer_bottom {
	padding: 1em;
	background: #4267b2;
	color: white;
}
.footer_list {
	list-style: none;
	padding: 0;
}

.amazon_logo {
	width: 10em;
}

.footer_list li {
	padding: 0.3em;
}
.footer_list li:hover {
	border-bottom: 1px solid orange;
	opacity: 0.7;
}

@media screen and (min-width: 768px) { 
.footer_top, .footer_middle, .footer_bottom {
margin: 2em 0em 2em 8.33333333%;
}
}

@media screen and (min-width: 992px) { 
.footer_top, .footer_middle, .footer_bottom {
margin-left: 16.6666667%;
}
	}

@media screen and (min-width: 1200px) { 
	.footer_top, .footer_middle, .footer_bottom {
margin-left: 33.3333333%;
}
}